:root {
    --primaryColor: #6c63ff;
    --successColor: #00bf8e;
    --warningColor: #f7c94b;
    --dangerColor: #f75842;
    --dangerVariantColor: rgba(247, 88, 66, 0.4);
    --wightColor: #fff;
    --lightColor: rgba(255, 255, 255, 0.7);
    --blackColor: #000;
    --bgColor: #1f2641;
    --bg1Color: #2e3267;
    --bg2Color: #424890;

    --containerWidthLarge: 80%;
    --containerWidthMedium: 90%;
    --containerWidthSmall: 94%;

    --transition: all 400ms ease;
}


/* ======================= ACHIEVEMENTS ========================= */

.about-achievements {
    margin-top: 3rem;
}

.about-achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.right-about-achievement>p {
    margin: 1.6rem 0 2.5rem;
}

.achievements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.left-about-achievement img {
    transition: ease-in-out 0.8s all;
    border-radius: 2.4rem;
}

.left-about-achievement img:hover {
    filter: saturate(1);
    -webkit-filter: saturate(1);
    border-radius: 0 24% 0 24%;
}

.achievement-card {
    background: var(--bg1Color);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
}

.achievement-card:hover {
    background: var(--bg2Color);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    animation: shake 0.8s ease-in-out;
    transition: var(--transition);
}

@keyframes shake {

    0% {
        transform: rotateZ(30deg);
    }

    25% {
        transform: rotateZ(-22.5deg);
    }

    50% {
        transform: rotateZ(22.5deg);
    }

    75% {
        transform: rotateZ(-30deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.achievement-icon {
    background: var(--dangerColor);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    filter: grayscale(1);
    margin-bottom: 2rem;
    font-size: 2rem;
    scale: 0.9;
    transition: var(--transition);
}

.achievement-card:hover .achievement-icon {
    filter: none;
    scale: 1.2;
}


.achievement-card:nth-child(2) .achievement-icon {
    background: var(--successColor);
}

.achievement-card:nth-child(3) .achievement-icon {
    background: var(--primaryColor);
}

.achievement-card p {
    margin-top: 1rem;
}

/* ======================= TEAMS ========================= */

.about-teams {
    background: var(--bg1Color);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
}

.about-teams-container {
    max-width: 80%;
    margin: auto;
}

.team-title h2 {
    text-align: center;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1.5rem;
}

.member-card {
    background: var(--bg2Color);
    border: 0.4px solid var(--lightColor);
    border-radius: 2rem;
    padding: 1.5rem 0% 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    transition: var(--transition);
}

.member-card p {
    color: var(--lightColor);
}


.member-card:hover {
    box-shadow: 0 3rem 3rem 1rem rgba(0, 0, 0, 0.6) inset;
    background: transparent;
}

.member-card:hover h2 {
    font-size: 3rem;
}


.member-card img {
    position: relative;
    margin-top: 0.5rem;
    width: 8rem;
    height: 10rem;
    object-fit: cover;
    filter: grayscale(1);
    border-radius: 2rem;
    transition: var(--transition);
}

.member-card:hover img {
    transform: scale(1.1);
    filter: none;
}

.member-socials {
    transition: 400ms ease-in-out all;
    transition-delay: 2s;
    position: absolute;
    top: 20%;
    display: none;
    flex-direction: column;
    right: -3rem;
    background: var(--primaryColor);
    padding: 0.25rem;
    border-radius: 8px 0 0 8px;
}

.member-card:hover .member-socials {
    display: flex;
    transform: translateX(-3rem);
    animation: expand 200ms linear alternate;
}

@keyframes expand {
    0% {
        opacity: 0;
        width: 0;
    }

    10% {
        opacity: 0.1;
        width: 0.2rem;
    }

    20% {
        opacity: 0.2;
        width: 0.4rem;
    }

    30% {
        opacity: 0.3;
        width: 0.6rem;
    }

    40% {
        opacity: 0.4;
        width: 0.8rem;
    }

    50% {
        opacity: 0.5;
        width: 1rem;
    }

    60% {
        opacity: 0.6;
        width: 1.2rem;
    }

    70% {
        opacity: 0.7;
        width: 1.4rem;
    }

    80% {
        opacity: 0.8;
        width: 1.6rem;
    }

    90% {
        opacity: 0.9;
        width: 1.8rem;
    }

    100% {
        opacity: 1;
        width: 2rem;
    }

}

.member-socials a {
    font-size: 1.62rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    border-radius: 5px;
    padding: 2.5px;
    transition: var(--transition);
}

.member-socials a:hover {
    background: var(--bg2Color);
    color: rgba(0, 0, 0, 0.5);

}


/* ========================= MEDIA QUERIES (TABLET) ========================== */

@media screen and (max-width: 1024px) {

    /* ======================= ACHIEVEMENTS ========================= */
    .container {
        width: var(--containerWidthMedium);
    }

    .about-achievements {
        margin-top: 2rem;
    }

    .left-about-achievement {
        width: 80%;
        margin: 0 auto;
    }

    .left-about-achievement img {
        scale: 0.9;
    }

    .right-about-achievement {
        width: 80%;
    }

    .right-about-achievement h1 {
        position: relative;
        font-size: 1.8rem;
        bottom: -4rem;
    }

    .right-about-achievement p {
        position: relative;
        font-size: 1rem;
        bottom: -4rem;
    }

    .achievements-cards {
        position: relative;
        width: 50rem;
        bottom: -6rem;
        gap: 10rem;
        left: -21rem;
    }

    .achievement-card p {
        color: var(--lightColor);
        top: 0;
    }

    .about-achievements-container {
        gap: 1.8rem;
        width: var(--containerWidthMedium);
    }


    /* ======================= TEAMS ========================= */

    .about-teams {
        margin-top: 5rem;
    }

    .team-members {
        grid-template-columns: repeat(3, 1fr);
    }

    .member-card {
        border-radius: 1.4rem;
        padding: 1rem 0% 2rem;
        gap: 1.5rem;
    }
}

/* ========================= MEDIA QUERIES (PHONES) ========================== */

@media screen and (max-width:525px) {

    /* ========================= ACHIEVEMENTS ========================== */

    .about-achievements-container{
        grid-template-columns: 1fr;
    }
    .about-achievements {
        margin-top: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .left-about-achievement img {
        scale: 0.9;
        width: 50vh;
    }
    .left-about-achievement {
        width: 80%;
        margin: 0 auto;
    }
    .right-about-achievement h1 {
        position: relative;
        font-size: 1.6rem;
        left: 21%;
        bottom: 1rem;
    }
    .right-about-achievement p {
        position: relative;
        font-size: 0.85rem;
        width: 70%;
        bottom: 1rem;
    }

    .achievements-cards {
        position: relative;
        left: -7.5rem;  
        display: grid;
        top: -5rem;
        grid-template-columns: 30% 30%;
        scale: 0.7;
        gap: 3rem;
    }

    /* ========================= TEAMS ========================== */

    .about-teams{
        margin-top: -3rem;padding-top: 1.8rem;
    }
    .team-members{
        grid-template-columns: 1fr 1fr;
        gap: 0;
        margin: 0;
        padding: 0;
    }
    .member-card{
        scale: 0.8;
    }
}