@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ====================== SWIPER.JS STYLESHEET ======================= */
.swiper {
    z-index: 8;
    width: 38rem;
    height: 25rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
}

.swiper-slide img {
    border-radius: 2rem;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* ========================= SWIPER END ========================== */


/* ========================== STYLE.CSS =========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: white;
    position: relative;
    /* cursor: none; */

}

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

:root {
    --primaryColor: #95c11e;
    --w: #ffffff;
}

*::selection {
    background-color: #fff;
    color: #95c11e;
}

.green {
    transition: background-color 0.6s ease;
    height: 20px;
    width: 20px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}

.green-blur {
    height: 250px;
    width: 250px;
    background-color: rgba(178, 241, 101, 0.61);
    border-radius: 50%;
    position: fixed;
    filter: blur(6.5rem);
    z-index: 1;
    opacity: 0.6;
}

.green-for-down {
    background-color: white;
    height: 12px;
    width: 12px;
}

.green-for-h4 {
    transition: border-color 0.6s ease;
    width: 50px;
    height: 50px;
    background: transparent;
    border: white 3px solid;
}

.green-for-btn {
    width: 25px;
    height: 25px;
    background: transparent;
    border: white 3px solid;
}

.green-for-Ih1 {
    background: var(--primaryColor);
    width: 40px;
    height: 40px;
    border: 1rem solid rgba(255, 255, 255, 0.712);
}

.page2 {
    z-index: 6;
}


#nav {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 9rem;
    gap: 3rem;
    position: fixed;
    z-index: 99;
}

#nav img {
    height: 80px;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

#nav>h4:hover .green {
    background: transparent;
    border: 0.2rem solid var(--primaryColor);
    scale: 3;
    border-radius: 50%;
    box-shadow: rgba(178, 241, 101, 0.5) 5rem 5rem 100px;
    z-index: 100;
    position: fixed;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#main {
    position: relative;
    height: 1000%;
    background: rgba(0, 0, 0, 0.4);
}

.page1 {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 1.3rem; */
    align-items: center;
    justify-content: center;
}

.page1-center {
    position: relative;
    top: 6rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
}

.page1-center h1 {
    position: relative;
    font-size: 7rem;
    font-weight: 900;
    /* z-index: 3; */
}

.page1-center h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 0.2rem var(--primaryColor);
    z-index: -1;
}

.page1-center h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

.page1-center h1::selection {
    background: white;
    color: var(--primaryColor);

}

.page1-center p {
    width: 30rem;
    font-size: 1.2rem;
    text-align: center;
}

.down {
    position: relative;
    display: flex;
    width: 15rem;
    height: 20rem;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid #95c11e;
    border-radius: 50%;
    font-size: 2rem;
    align-self: start;
    justify-self: end;
    bottom: 5rem;
    left: -2.5rem;
    transition: all ease 0.8s;
}

.down:hover {
    background: var(--primaryColor);
    transform: scale(0.5);
    transform-origin: center;
}

.down:hover .green {
    background: lavender;
}

.page2 {
    z-index: 10;
    height: 110vh;
    width: 100vw;
    position: relative;
    margin-bottom: 10rem;
}

.infinite {
    margin-top: 5rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.infinite::-webkit-scrollbar {
    display: none;
}

.infiniteScroller {
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    animation-name: infiniteScroller;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.infiniteScroller:hover {
    animation-play-state: paused;
}


.infinite h1 {
    color: black;
    animation-play-state: paused;
    font-weight: 900;
    display: inline-block;
    font-size: 7rem;
    transition: all 0.5s ease-in-out;
    font-family: 'poppins';
    font-weight: 700;
    /* color: transparent; */
    -webkit-text-stroke: 2px white;
    margin-right: 1rem;
}

.infinite h1:hover {
    color: var(--primaryColor);
    transition: all 1s linear;
    -webkit-text-stroke: 0px var(--primaryColor);
    font-family: 'montserrat';
    font-size: 6.8rem;
}

.infinite h1:hover .green {
    border: 1px solid #95c11e;
}

@keyframes infiniteScroller {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.about-us-main {
    margin-top: 4rem;
    height: 40vh;
    position: relative;
    display: flex;
    padding: 0px 50px;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.about-us-main img {
    width: 20rem;
    border-radius: 1.2rem;
}

.about-us-in {
    width: 40%;
    text-align: center;
}

.about-us-in h3 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'poppins';
    margin-bottom: 3rem;
}

.about-us-in p {
    line-height: 1.3;
    font-weight: 300;
    color: #ccc;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    transform-style: preserve-3d;
}

.container .box {
    position: relative;
    width: 27rem;
    height: 18rem;
    margin: 60px 0;
    margin: 0 1rem;
    transform-style: preserve-3d;
}

.container .box .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box .imgBox h2 {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Poppins';
    letter-spacing: 1.2px;
    -webkit-text-stroke: 2px black;
}

.container .box .imgBox img {
    width: 27rem;
    height: 18rem;
    border-radius: 1rem;
}

.container .box .contentBox {
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    background: #96c11ee4;
    transform: translateZ(20px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transform-style: preserve-3d;
    transition: 0.8s;
    transition-delay: 0.2s;
    border-radius: 1rem 0 1rem;

}

.container .box .contentBox h2,
.container .box .contentBox p {
    color: black;
    margin-bottom: 0.8rem;
}

.container .box:hover .contentBox {
    transform: translateZ(50px) scaleY(1);
}

.page3 {
    z-index: 10;
    height: 200vh;
    width: 100vw;
    position: relative;
    /* margin-bottom: 15rem; */
}


.greenDiv {
    /* margin-top: 4rem; */
    margin-bottom: 4rem;
    height: 15rem;
    width: 100vw;
    background: linear-gradient(to left bottom, #16A13A, #A6DE23);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.greenDiv img {
    height: 200%;
    width: 10rem;
}

.greenDiv h4 {
    width: 45%;
    font-size: 1.8rem;
    text-align: center;
    color: black;
    font-weight: 500;
    line-height: 60px;
}

.food-drink {
    display: grid;
    grid-template-columns: 30% 30%;
    align-items: center;
    justify-content: space-around;
}


.right-infoBox {
    position: relative;
    width: 100%;
    padding: 1rem;
}

.right-infoBox h2 {
    position: relative;
    font-size: 2.5rem;
    top: 0;
    font-weight: 800;
    text-shadow: #96c11ec3 0px 4px 20px;
    margin-bottom: 2rem;
}

.right-infoBox h2::before {
    content: "FOOD AND DRINKS";
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 800;
    font-size: 2.4rem;
    letter-spacing: 1px;
    top: 0;
    left: -1px;
}

.right-infoBox p {
    line-height: 1.3;
    font-family: 'poppins';
    text-shadow: 1.2px 1.2px 0.3px #96c11e;
    text-align: left;
    font-weight: 300;
}

.right-infoBox .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'poppins';
    width: 7rem;
    height: 2.5rem;
    margin-top: 2rem;
    background: #000;
    border-radius: 1.5rem;
    border: 0.2rem solid var(--primaryColor);
    transition: all ease-in-out 0.6s;
}

.right-infoBox .btn:hover {
    background: var(--primaryColor);
}

.quote {
    margin-top: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-content {
    font-size: 1.95rem;
    line-height: 3rem;
    font-weight: 700;
    width: 50%;
    text-align: center;
}

.quote img {
    width: 5rem;
    position: absolute;
}

.quote #colon1 {
    left: 5%;
    top: -50%;
}

.quote #colon2 {
    right: 5%;
    bottom: -50%;
}


/* media screen for tablets (770px) */

@media screen and (max-width:770px) {
*{
    display: none;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


}